<!DOCTYPE html>
<html>
  <head>
	<title>Login & Registration Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  </head>
  <body>
    
    
    
    <script>
      document.querySelector('.img-btn').addEventListener('click', function() {
		  document.querySelector('.cont').classList.toggle('s-signup')
	  });
    </script>

  </body>
</html> 
