

form{
    position: absolute;
    top:0px;
  right:0px;
  bottom:0px;
  left:0px;
    text-align: center;
    background-image:  linear-gradient(lightblue , white );
}
label{
    font-size: larger;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #719ECE; 
}
#Describe{
    outline: none !important;
    margin: 2%;
    width: 785px;
    height: 296px;
    resize: none; 
    border: 2px groove lightgreen;
    box-shadow: 0 0 10px #719ECE;   
}
.button , .button1{
    display: inline-flex;
    height: 50px;
    width :200px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 10px #719ECE; 
}
.button1{
    margin-left: 10px;
    background: #009578;
}

.button{
    margin-right: 10px;
    background: #ca5cdd;
    
}

.button:hover{
    background: #be2ed6 ; 
}
.button1:hover{
    background: #008168; 
}
.button:active{
    background: #b100cd;
}
.button1:active{
    background: #006e58;
}

.button__text , .button__text1{
    margin-left: 10%;
}
.button__text, .button__icon ,.button__text1, .button__icon1{
    display: inline-flex;
    align-items: center;
    padding: 0 24x;
    color: white;
    height: 100%;

}

.button__icon,.button__icon1{
    margin-left: 20px;
    padding: 0px 15px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}
.btn{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #1E90FF;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    border: none;
    box-shadow: 0 0 10px #719ECE; 
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
