*, *::before, *::after {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}

#navbar{
    font-size: 20px;
    padding:  25px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    display: flex;   
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    transform: .4s;
    backdrop-filter: blur(5px);
    z-index: -1;
   }
#navbar ul{
    display: flex; 
    list-style: none;
    width: 300px;
    /* justify-content: space-between; */

  }
#navbar ul li{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: .4s;
  }
  #navbar ul li a{
    text-decoration: none;
    color: #000;
  }


  #navbar ul li a:hover{
    color: #f00;
  }



.container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px groove #01dbdf;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding-bottom: 78px;
   
}


.post_heading h2 {
    
    letter-spacing: 5px;
    font-size: 40px;
    color: #01dbdf;
    
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.post_cont{
    max-height:42rem;
    overflow-y: scroll;
    width: 83%;
}

.post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 10px;
    background-color: white;
   
}

.post_img{
    min-height: 30rem;
    min-width: 30rem;
    box-shadow: 2px 2px 10px black;
}
.post_info{
    margin:20px;
}
/* .post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .8rem;
    display: block;
}

.post_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
} */

.post_date span {
    display: block;
    color: #00000080;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #000000b3;
}

.post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    border: #fff;
    text-decoration: none;
    border-radius: .8rem;
    background: linear-gradient(to right,  #01a9ac 0%, #01dbdf 100%);
}

.post_cta:hover {
    background: linear-gradient(to right, #01dbdf 0%, #01a9ac 100%);
}

.post_cont::-webkit-scrollbar {
    display: none;
  }


